/*  INSTALLED FONTS
======================================*/
/*  Body text:  font-family: 'Open Sans Condensed', sans-serif;
/*  Navbar text:   font-family: 'Questrial', sans-serif;   




/*   HEADER
======================================*/

.main-header
{
	width: 100%;
	background-color: #ccddee;
	display: inline-block;
}

.logo
{
	font-size: 3em;
	font-weight: bold;
	text-decoration: none;
	color: #123456;
	display: inline-block;
	padding: 10px 30px;
	margin: 10px 10px;
	border: 3px solid #123456;
}

.logo:hover
{
	color: #ccddee;
	background-color: #123456;
}

.logo p
{
	margin-top: 0;
	margin-bottom: 0;
}

.nav
{
	display: inline-block;
	margin-left: 5%;
	margin-bottom: 5px;
	margin-top: 5px;	
}

.nav li
{
	display: inline-block;
}

.link
{
	font-size: 1.5em;
	font-weight: none;
	text-decoration: none;
	color: #123456;
	margin-right: 40px;
	display: inline-block;
	padding: 0 0;
	font-family: 'Questrial', sans-serif;
	border: 0 solid #123456;
	padding: 3px 6px;
}

.link:hover
{
	background-color: #123456;
	color: #ccddee;
}

.link p
{
	margin: 0 0;
}



/*   MAIN
======================================*/
body
{
	background-color: #D1E8EB;
}

.wrapper
{
	width: 100%;
}

.mainpicture
{
	opacity: 1;
}

.mainpicture:hover
{
	
}

.whoami
{
	font-family: 'Open Sans Condensed', sans-serif;	
}

.skills
{
	font-family: 'Open Sans Condensed', sans-serif;	
}


/*   FOOTER
======================================*/




/*   MEDIA QUERIES
======================================*/

/*@media (max-width: 768px)*/
/*@media only screen and (max-device-width: 640px)*/

@media (max-width: 768px)
{
	.logo
	{
		display: block;
		margin: 10px auto;
		padding: 0;
		width: 80%;
		
	}
	.logo p
	{
		text-align: center;
		font-size: 2em;
	}

	.link
	{
		margin: auto;
		font-size: 4em;
	}

	.nav
	{
		display: inline-block;
		width: 100%;
		text-align: center;
		margin-left: 0;
	}

	.nav li
	{
		display: inline-block;
		margin: auto;
		margin-right: 5%;
		margin-left: 5%;
	}



}



