/*  INSTALLED FONTS
======================================*/
/*  Body text:  font-family: 'Open Sans Condensed', sans-serif;
/*  Navbar text:   font-family: 'Questrial', sans-serif;   




/*   HEADER
======================================*/

.main-header
{
	width: 100%;
	background-color: #ccddee;
	display: inline-block;
}

.logo
{
	font-size: 3em;
	font-weight: bold;
	text-decoration: none;
	color: #123456;
	display: inline-block;
	padding: 10px 30px;
	margin: 10px 10px;
	border: 3px solid #123456;
}

.logo:hover
{
	color: #ccddee;
	background-color: #123456;
}

.logo p
{
	margin-top: 0;
	margin-bottom: 0;
}

.nav
{
	display: inline-block;
	margin-left: 5%;
	margin-bottom: 5px;
	margin-top: 5px;	
}

.nav li
{
	display: inline-block;
}

.link
{
	font-size: 1.5em;
	text-decoration: none;
	color: #123456;
	margin-right: 40px;
	display: inline-block;
	padding: 0 0;
	font-family: 'Questrial', sans-serif;
	border: 0 solid #123456;
	padding: 3px 6px;
}

.selected
{
    font-weight: bold;   
}

.link:hover
{
	background-color: #123456;
	color: #ccddee;
}

.link p
{
	margin: 0 0;
}



/*   MAIN
======================================*/
body
{
	background-color: #D1E8EB;
	margin: 0;
	padding: 0;
}

.wrapper
{
	width: 100%;
    height: 100%;
}

/* banner =======*/
.banner
{
	width: 100%;
	height: 400px;
	background-color: #4c9dff;
	opacity: 1;
	text-align: center;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.bannertext
{
	width:90%;
	height:100%;
	font-size: 60px;
	/*background-color: #777777;*/


	background-image: -webkit-gradient(
	linear,
	right top,
	left top,
	color-stop(0, #19670F),
	color-stop(0, #849EA1),
	color-stop(1, #D1E8EB),
	color-stop(1, #FBFFFF),
	color-stop(1, #FBFFFF)
	);
	background-image: -o-linear-gradient(left, #19670F 0%, #849EA1 0%, #D1E8EB 100%, #FBFFFF 100%, #FBFFFF 100%);
	background-image: -moz-linear-gradient(left, #19670F 0%, #849EA1 0%, #D1E8EB 100%, #FBFFFF 100%, #FBFFFF 100%);
	background-image: -webkit-linear-gradient(left, #19670F 0%, #849EA1 0%, #D1E8EB 100%, #FBFFFF 100%, #FBFFFF 100%);
	background-image: -ms-linear-gradient(left, #19670F 0%, #849EA1 0%, #D1E8EB 100%, #FBFFFF 100%, #FBFFFF 100%);
	background-image: linear-gradient(to left, #19670F 0%, #849EA1 0%, #D1E8EB 100%, #FBFFFF 100%, #FBFFFF 100%);


	border-radius: 10px;
	display: inline-block;
	position: relative;
	margin-left: -200%;
}

.bannertext p
{
	margin: 100px;
	float: right;
}

.fader
{
	position: absolute;
	height: 400px;
	width: 100%;
	background-color: white;
	opacity: 0.2;
}

.selfpic
{
	height: 100%;
	margin-left: -35%;
	position: relative;
	opacity: 0;
}

.myname
{
	position: absolute;
	text-align: center;
	margin-left: 25%;
}




/*  Who Am I? ==============*/
.whoami
{
	font-family: 'Open Sans Condensed', sans-serif;
    max-width: 100%;
    margin-top: 4%;
}

.whoami h1
{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 5%;
}

.whoami p
{
    font-size: 22px;
    margin-top: 0;
    margin-left: 7%;   
    margin-right: 20%;
}

.whatdoiwant
{
	font-family: 'Open Sans Condensed', sans-serif;
    max-width: 100%;
    margin-top: 2%;
}

.whatdoiwant h1
{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 5%;
}

.whatdoiwant p
{
    font-size: 22px;
    margin-top: 0;
    margin-left: 7%;   
    margin-right: 20%;
}

.zoomable
{
    display: inline-block;
    position: relative;
}


/* Skills ===================*/
.skills
{
	font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 2%;
}

.skills h1
{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 5%;
}

.skills h3
{
    font-size: 28px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 7%;
    
}

.skills p
{
    font-size: 22px;
    margin-top: 0;
    margin-left: 10%;   
    margin-right: 20%;
}

/* Quote =============*/

.quotesection
{
    font-family: 'Reenie Beanie', cursive;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 26px;
    margin-top: 7%;
}

.quote
{
    opacity: 0;
}

.credit
{
    margin-top: 20px;
    margin-left: 15%;
    opacity: 0;
}
/*

 skills list =================
.skills-list
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.skills-list li
{
    width: 100%;
    max-width: 110%;
    height: 200px;
    margin: 50px auto;
    border: 4px solid #aabbcc;
    text-align: center;
    background-color: #7fcfff;
}

.skills-list .skills-title
{
    margin-top: auto;
    margin-bottom: auto;
    color: #333333;
}
*/

/*   FOOTER
======================================*/
.footer
{
    width: 100%;
    height: 200px;
    background-color: #4c9dff;    
    margin-top: 7%;
    text-align: center;
    bottom: 0;
}

.footer p
{
    font-size: 1.2em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    color: #333333;
    padding-top: 25px;
}

.footer li
{
    display: inline-block;
}

.footer img
{
    width: 50px;
}

.social-link
{
    opacity: 0.7;   
}



/*  Contact   ==================================================================================*/
.contact-title
{
    margin: 3% 3%;
    color: #333333;
}

.work-title, .other-title
{
    margin: 1% 5%;
    color: #333333;
}

.work-contact, .other-contact
{
    margin: 1% 5%;
    color: #333333;
}

.work-contact h3, .work-contact a, .other-contact h3, .other-contact a
{
    display: inline-block;  
}

.work-contact a, .other-contact a
{
    margin-left: 1%;
    color: #4c9dff;   
}

.other-title
{
    margin-top: 2.55%; 
}


/* My Work
==================================================================================*/
.list-of-work, .jobs
{
    width:60%;
    margin: auto;
    margin-top: 50px;
}

.list-of-work li, .jobs li
{
    display: inline-block;
    height: 300px;
    width: 300px;  
    border: 2px solid #555555;
    margin-left: 5%;
}

.list-of-work h3, .jobs h3
{
    display: inline-block;
    font-size: 32px;
    margin: 30px 20px;
    position: absolute;
    color: #4c9dff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.list-of-work img, .jobs img
{
    position: absolute;
    opacity: 0.4;
}

#job-section
{
    padding-top: 75px; 
    padding-left: 100px;
    font-family: 'Open Sans Condensed', sans-serif;
}




/*   MEDIA QUERIES
======================================*/

/*@media (max-width: 768px)*/
/*@media only screen and (max-device-width: 640px)*/

@media (max-width: 768px)
{
	.logo
	{
		display: block;
		margin: 10px auto;
		padding: 0;
		width: 80%;
		
	}
	.logo p
	{
		text-align: center;
		font-size: 2em;
	}

	.link
	{
		margin: auto;
		font-size: 4em;
	}

	.nav
	{
		display: inline-block;
		width: 100%;
		text-align: center;
		margin-left: 0;
	}

	.nav li
	{
		display: inline-block;
		margin: auto;
		margin-right: 5%;
		margin-left: 5%;
	}

	.bannertext
	{
		font-size: 30px;
	}



}



.spacetaker
{
    height: 1000px;
    width: 1px;
}

